<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Water object recognition</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Object detectie in water</span>
    </div>
</nav>
<br>
<div class="container main-content">
    <p>Elke dag komen duizen kilo's afval terecht in de oceaan. Dit is een groot probleem voor het leven in de oceaan. Deze web applicatie kan een voorspelling maken van waar afval zich bevind in een afbeelding. Upload een afbeelding om een voorspelling te doen. <br><br>
        <img class="neuron" src="{{ url_for('static', filename='neuron.jpeg') }}" alt="Neuron">
        De web applicatie gebruikt een neuraal netwerk om te bepalen waar het afval is. Een neuraal netwerk is een groep van verbonden neuronen. Een neuron is een soort van wiskundige functie. Bij een neuron komen een of meer nummers binnen. Per invoer geeft een neuron een ander gewicht aan de input. Aan de hand van een wiskundige functie worden de verschillende getallen en gewichten samengevoegd en komt er een getal uit. Een neuraal netwerk kan verschillende neuronen achter elkaar hebben die weer getallen uit andere neuronen als invoer hebben.
        <br><br>
        Met een set afbeeldingen is het neuraal netwerk steeds doorlopen en de gewichten per invoer telkens aangepast. Op deze manier kan de uitvoer van een neuraal netwerk worden verbeterd.
        Om te kunnen bepalen waar het afval in een afbeelding is wordt dit neuraal netwerk ingeladen en het neurale netwerk met deze afbeelding doorlopen. </p>
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="mb-3">
            <label for="file" class="form-label">Upload een afbeelding</label>
            <input class="form-control" type="file" name="file" id="file">
        </div>
        <button type="submit" class="btn btn-primary">Verstuur</button>
        <br><br>
        {% if image %}
            <img style="max-height: 500px; max-width: 700px;" src="processed-image/{{ image }}">
        {% endif %}
        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>